.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  @include section-title;
  text-align: center;
}
.clients__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.clients__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid getColor('icon');
  border-radius: 4px;
  fill: getColor('icon');
  @include transitions(color border);
  &:focus,
  &:hover {
    border: 1px solid getColor('accent-text');
    fill: getColor('accent-text');
    outline: none;
  }
}
.clients-icon {
  height: 90px;
}
