.team {
  background-color: getColor('bgc-secondary');
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__title {
  @include section-title;
  text-align: center;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
}
.team__item {
  width: calc((100%-90px) / 4);
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: getColor('bgc-main');
  &:nth-child(4n) {
    margin-right: 0;
  }
}
.team__photo {
  margin-bottom: 30px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 10px;
  text-align: center;
}
.team__position {
  color: getColor('grey-text');
  font-size: getFont-size('button');
  line-height: 1.2;
  text-align: center;
}
.team__social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-right: 32px;
  margin-bottom: 30px;
  margin-left: 32px;
}
.team__social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  fill: getColor('icon');
  @include transitions(color background-color);
  &:hover,
  &:focus {
    background-color: getColor('button');
    fill: getColor('bgc-main');
    outline: none;
  }
}
.team__social-icon {
  width: 20px;
  height: 20px;
}
