body {
  color: getColor('black-text');
  background-color: getColor('bgc-main');
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: getColor('black-text');
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
textarea {
  resize: none;
  padding: 0;
}
input {
  margin: 0;
  padding: 0;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}
:active,
:hover,
:focus {
  outline-color: getColor('button');
  outline-offset: 0;
}
